:root {
    --color-white: #f4f4f4;
    --color-base_green: #478778;
    --color-special_green: #9FE2BF;
    --color-icon_green: #2AAA8A;
    --color-highlight_green: #008080;
    --color-dark_green: #1C2322;
}

* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--color-white);
}

.header_container {
    background-color: var(--color-base_green);
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    z-index: 2;
    position: relative;
}

.link {
    color: var(--color-white);
    height: 3.9rem;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0 1.2em 0 1.2em;
    font-size: 1.2em;
    margin: 0 .5em 0 .5em;
    line-height: 3.9rem;
    border-radius: .5rem;
}

.link:hover {
    background-color: var(--color-special_green);
    color: var(--color-dark_green);
}

.link_container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2.8em;
}

.icon {
    height: 3rem;
    padding: .5em 4em .5em 4em;
}

.body_container {
    margin-bottom: 8rem;
}

.section_container {
    background-color: var(--color-base_green);
    height: fit-content;
    width: 100%;
    z-index: 1;
    position: relative;
    color: var(--color-white);
}

.footer {
    background-color: var(--color-dark_green);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer_link {
    margin: 1em 6em 1em 6em;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    height: 2.5rem;
}

/* 
.header_container {
    background-color: var(--color-glaucous);
    font-weight: bolder;
    height: 4.5rem;
    position: fixed;
    width: 100%;
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.header_link_container {    
    margin-left: auto;
    margin-right: 3em;
}

.header_link {
    background-color: var(--color-glaucous);
    color: var(--color-white);
    padding: .5em 1em .5em 1em;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;  
}

.header_link:hover{
    background-color: var(--color-pastel_blue);
    color: var(--color-black);
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem var(--color-navy_blue);
} */

/*
.header_image {
    padding-top: 2rem;
    height: 10rem;
}

.header_image_link {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.header_title {
    padding-bottom: 3rem;
    font-size: 2.4em;
    color: var(--color-primary);
}

.header_buttons_container {
    display: flex;
    flex-direction: column;
}

.header_button {
    padding: .6rem 4.5rem .6rem 4.5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--color-primary);
    font-size: 1.3em;
    background-color: var(--color-button);
    border-color: var(--color-button-dark);
    box-shadow: 0 0 0 var(--color-button-dark);
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.header_button:hover {
    box-shadow: .2rem .3rem .2rem var(--color-button-dark);
    background-color: var(--color-text-highlighted);
}

.header_social_container {
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
}

.header_social_icon {
    height: 2rem;
    filter: brightness(0) invert(1);
    padding: 0 1rem 0 1rem;
}

.header_social_button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.main_container {
    margin-left: 25rem;
    display: flex;
    flex-direction: column;
}

.section_container {
    margin: 0 2rem 0 3rem;
    padding-top: 2rem;
}

.section_title_container {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0 1.5rem 4rem;
}

.section_icon {
    height: 4rem; 
}

.section_title {
    line-height: 4rem;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 2em;
    color: var(--color-secondary);
}

.article_container {
    padding-top: 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section_card {
    width: 25rem;
    height: fit-content;
    background-color: var(--color-button);
    border: 2px solid var(--color-button-dark); 
    margin: 0 2rem 2rem 0;
    padding: 1rem 0 1rem 0;
}

.article_header {
    position: relative;
    width: 100%;
}

.article_header_banner {
    width: 100%;
    display: block;
}

.article_header_title {
    position: absolute;
    z-index: 1;
    top: 0;
    padding-left: 2rem;
    line-height: 3rem;
    color: var(--color-primary);
    font-size: 1.4em;
}

.article_bg {
    position: relative;
    width: 100%;
}

.article_header_bg {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.article_header_icon {
    display: block;
    position: absolute;
    z-index: 1;
    height: 10rem;
    right: 0;
    padding: .7rem 1rem 0 1rem;
}

.article_description {
    margin: 13rem 1.5rem 0 1.5rem;
    color: var(--color-primary);
    font-weight: lighter;
}

.article_title {
    color: var(--color-primary);
    text-align: center;
    font-size: 1.4em;
    margin: .8rem 0 .8rem 0;
    font-weight: lighter;
}

.article_item_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

.article_item {
    height: 5rem;
    padding: .1rem .5rem .1rem .5rem;
}

.article_item--fix {
    height: 4.5rem;
    padding: .1rem .5rem .1rem .5rem;
}

.article_day {
    text-align: center;
    color: var(--color-primary);
    font-size: 2em;
}

.article_link {
    padding-top: .5rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.article_link:hover {
    background-color: var(--color-text-highlighted);
    border-radius: 1rem;
    box-shadow: .2rem .3rem .2rem var(--color-button-dark);
} */