:root {
    --color-primary: #f4f4f4;
    --color-button: #3e5f8a;
    --color-button-dark: #1a315f;
    --color-secondary: #151c47;
    --color-text: #000000;
    --color-text-highlighted: #7d4497;
}  

* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--color-primary);
}

.header--box {
    background-color: var(--color-secondary);
    color: black;
    height: 100%;
    width: 25rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_image {
    padding-top: 2rem;
    height: 10rem;
}

.header_title {
    padding-bottom: 3rem;
    font-size: 2.4em;
    color: var(--color-primary);
}

.header_buttons {
    display: flex;
    flex-direction: column;
    
}

.header_buttons--display {
    padding: .6rem 3rem .6rem 3rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--color-primary);
    font-size: 1.3em;
    background-color: var(--color-button);
    border-color: var(--color-button-dark);
    cursor: pointer;
    box-shadow: 0 0 0 var(--color-button-dark);
}

.header_buttons--display:hover {
    box-shadow: .2rem .3rem .2rem var(--color-button-dark);
}

.header_social {
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    
}

.header_social_icons {
    height: 2rem;
    filter: brightness(0) invert(1);
    padding: 0 1rem 0 1rem;
}

.header_social_icons--button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.main--box {
    margin-left: 25rem;
    display: flex;
    flex-direction: column;
}

.section--box {
    margin: 0 2rem 2rem 3rem;
    padding-top: 2rem;
}

.section_title {
    display: flex;
    flex-direction: row;
}

.section_title--image {
    height: 5rem; 
}

.section_title--text {
    line-height: 5rem;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 1.8em;
    color: var(--color-secondary);
}

.section_article--box {
    padding-top: 2rem;
    padding-left: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article_card {
    width: 25rem;
    height: 35rem;
    background-color: var(--color-button);
    border: 2px solid var(--color-button-dark); 
    margin: 0 2rem 2rem 0;
}

.article_header {
    position: relative;
    width: 100%;
}

.article_header--image_banner {
    width: 100%;
    display: block;
}

.article_header--text {
    position: absolute;
    z-index: 1;
    top: 0;
    padding-left: 2rem;
    line-height: 3rem;
    color: var(--color-primary);
    font-size: 1.4em;
}

.article_bg {
    position: relative;
    width: 100%;
}

.article_header--image_icon {
    display: block;
    position: absolute;
    z-index: 1;
    height: 10rem;
    right: 0;
    padding: .7rem 1rem 0 1rem;
}

.article_header--image_bg {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.article_description {
    margin: 13rem 1.5rem 0 1.5rem;
    color: var(--color-primary);
    font-weight: lighter;
}
