:root {
    --color-white: #f4f4f4;
    --color-base_green: #478778;
    --color-special_green: #9FE2BF;
    --color-icon_green: #2AAA8A;
    --color-highlight_green: #008080;
    --color-dark_green: #1C2322;
}

.body_container {
    margin: 6em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title_container {
    background-color: var(--color-base_green);
    margin: 1em 0 2em 0;
    padding: 1em 1em 1em 1em;
    width: 90rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    color: var(--color-white);
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    line-height: 4rem;
}

.card_container {
    background-color: var(--color-icon_green);
    width: 26rem;
    height: 38rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    margin: 0 1em 2em 1em;
}

.image_container{
    height: 30rem;
    width: 25.9rem;   
    background-color: var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    display: flex;
    flex-direction: row;
}

.text_container {
    height: 4rem;
    width: 26rem;
    color: var(--color-white);
    font-size: 2em;
    text-align: center;
    line-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.star_container {
    height: 4rem;
    width: 26rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.star {
    height: 2.5rem;
    margin: 0 .5em .2em .5em;
}

.gacha_card {
    height: 30rem;
    width: 13rem;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons_image {
    height: 15rem;
    width: 15rem;
}