:root {
    --color-white: #f4f4f4;
    --color-base_green: #478778;
    --color-special_green: #9FE2BF;
    --color-icon_green: #2AAA8A;
    --color-highlight_green: #008080;
    --color-dark_green: #1C2322;
}

.main_container {
    margin: 6em 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Character */

.character_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}

.gacha_card {
    background-color: var(--color-dark_green);
    height: 55rem;
    width: 18rem;
    border-radius: 1rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92rem;
}

.title_container {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 86rem;
    background-image: url("../../img/general/background/5star.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    justify-content: space-between;
    color: var(--color-white);
}

.star_4 {
    background-image: url("../../img/general/background/4star.webp");
}

.character_icon {
    height: 9.5rem;
    margin: 0 5rem 0 2rem;
    padding-top: .5rem;
}

.words_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
}

.character_title {
    font-size: 3em;
}

.character_subtitle {
    font-size: 1.5em;
}

.gacha_splash {
    height: 41.9rem;
    margin-top: 2em;
    border-radius: 1rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    padding: 1em 1em 0 1em;
}

/* Ascension */

.ascension_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-base_green);
    width: 110rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    margin: 2em 0 2em 0;
    padding-bottom: 1em;
    align-items: center;
}

.ascension_title {
    color: var(--color-dark_green);
    font-size: 3em;
    margin: .5em 0 .5em 0;
    background-color: var(--color-special_green);
    width: 40rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .05em solid var(--color-dark_green);
}

.horizontal_container {
    display: flex;
    flex-direction: row;
    margin: 0 1rem 1rem 1rem;
    align-items: center;
}

.icon_container {
    background-color: var(--color-dark_green);
    height: 12rem;
    width: 9rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    padding: 1.5em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em .75em 1em .75em;
}

.wide {
    height: 18rem;
    width: 14rem;
}

.image {
    align-items: center;
    background-color: var(--color-highlight_green);
    height: 7rem;
    width: 7rem;
    border-radius: .5rem;
    padding: 1em 1em 1em 1em;
    margin-bottom: .5em;
}

.bigger {
    height: 13rem;
    width: 12rem;
}

.image:hover {
    background-color: var(--color-icon_green);
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.text_container {
    width: 8rem;
    height: 2rem;
    color: var(--color-white);
    font-size: 1.8em;
    line-height: 2em;
}

.gemstones {
    width: 26rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em 0 1em;
}

.traveler {
    width: 38rem;
}

.local {
    width: 20rem;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em 0 1em;
}
