/* General */

:root {
    --color-white: #f4f4f4;
    --color-base_green: #478778;
    --color-special_green: #9FE2BF;
    --color-icon_green: #2AAA8A;
    --color-highlight_green: #008080;
    --color-dark_green: #1C2322;
}

/* Domain */

.domain_container {
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domain {
    background-color: var(--color-base_green);
    width: 100rem;
    height: fit-content;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    border-radius: .8em;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 4em 0;
}

.domain_title {
    background-color: var(--color-special_green);
    font-size: 2.5em;
    color: var(--color-dark_green);
    margin: .5em 0 0 0;
    padding: .5em 1em .5em 1em;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .05em solid var(--color-dark_green);    
    border-radius: .2em;
    width: fit-content;
}

.domain_subtitle {
    font-size: 1.5em;
    color: var(--color-white);
    margin: 2em 1.5em .5em 1.5em;
}

.domain_artifact_icon {
    height: 8rem;
    width: 8rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .2em solid var(--color-dark_green);    
    border-radius: .5em;
    background-color: var(--color-icon_green);
    margin: 3em 2em 4em 2em;
}

/* Title */

.section_title {
    background-color: var(--color-special_green);
    font-size: 3em;
    margin: 0 0 1.5em 3em;
    color: var(--color-dark_greene);
    box-shadow: 0 .05em .1em var(--color-dark_green);
    border: .05em solid var(--color-dark_green);    
    border-radius: .2em;
    width: fit-content;
    padding: .2em 2em .2em 2em;
}

/* Main */

.main_container {
    margin: 6em 0 0 0;
}

/* Artifact */

.artifact_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
    width: 100rem;
    align-self: center;
    margin: 0 auto;
}

.artifact {
    background-color: var(--color-dark_green);
    height: 21rem;
    width: 13rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .2rem var(--color-dark_green);
    border: .1em solid var(--color-dark_green);
    padding: 1.5em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em 2em 3em 2em;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.artifact_icon {
    align-items: center;
    background-color: var(--color-highlight_green);
    height: 12rem;
    width: 11rem;
    border-radius: .5rem;
    padding: 1em 1em 1em 1em;
    margin-bottom: .5em;
}

.artifact_icon:hover {
    background-color: var(--color-icon_green);
}

.artifact_text {
    color: var(--color-white);
    text-align: center;
    line-height: 1.2em;
    font-size: 1.3em;
    padding: 0 .2em 0 .2em;
}
