.section_item_card {
    width: 25rem;
    height: 35rem;
    background-color: var(--color-button);
    border: 2px solid var(--color-button-dark); 
    margin: 0 2rem 2rem 0;
    padding: 0 0 1rem 0;
}